{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    //"plugin:flowtype/recommended",
    "airbnb",
    "prettier",
   // "prettier/flowtype",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "flowtype",
    "react",
    "jsx-a11y",
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/webpack.dev.babel.js"
      }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "react/jsx-wrap-multilines": "off",
    "arrow-parens": "off",
    "react/prop-types": "off",
    "space-before-function-paren": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": "off",
    "no-shadow": "off",
    "no-bitwise": "off",
//    "linebreak-style": ["error", "windows"],
    "arrow-body-style": ["warn", "always"],
    "linebreak-style": "off"
  }
}





