.wrap{
  padding: 20px;
}

.ammount{
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 40px;
}

.total>span{
  font-weight: bolder;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.wrap>div{
  margin-top: 15px;
}

.input_field{
  height: 82px;
}

.submit_button{
  margin-top: 20px;
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrap form {
  background-color: rgb(240, 240, 240);
  width: 280px;
  padding: 0px 10px 10px 10px;
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.wrap>div{
  margin-top: 15px;
}

.list_element {
  align-self:flex-end;
  width: 350px;
}