.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.wrap>div{
  margin-top: 15px;
}

.input_field{
  height: 82px;
}

.submit_button{
  margin-top: 20px;
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.wrap form {
  background-color: rgb(240, 240, 240);
  width: 280px;
  padding: 0px 10px 10px 10px;
}





.wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;

}

.wrap>div{
  margin-top: 15px;
}